###### Dictionary 
    
Dictionary's are the collection of key value pairs.It is mutuable & unordered also does not contain duplicate values

In [77]:
Class_A={"Student":"Onkar",
  "Roll number":23,
  "Marks":90}

In [78]:
print(Class_A)

{'Student': 'Onkar', 'Roll number': 23, 'Marks': 90}

In [79]:
Class_A[1]

KeyError: 1

In [80]:
Z=list(Class_A)

In [81]:
Z

['Student', 'Roll number', 'Marks']

In [82]:
Z[1]

'Roll number'

In [83]:
Information={"Name":["Beed","Pune",'Mumbai'],
            "Population":[1000000,5000000,7000000],
            "Rank":[10,2,1]}

In [84]:
print(Information)

{'Name': ['Beed', 'Pune', 'Mumbai'], 'Population': [1000000, 5000000, 7000000], 'Rank': [10, 2, 1]}

In [85]:
Information['Name']

['Beed', 'Pune', 'Mumbai']

In [86]:
Information['Rank']

[10, 2, 1]

In [87]:
Information[2]

KeyError: 2

In [88]:
P=list(Information)

In [89]:
P

['Name', 'Population', 'Rank']

In [90]:
P[2]

'Rank'

In [91]:
Information

{'Name': ['Beed', 'Pune', 'Mumbai'],
 'Population': [1000000, 5000000, 7000000],
 'Rank': [10, 2, 1]}

In [92]:
Information.keys()

dict_keys(['Name', 'Population', 'Rank'])

In [93]:
Information.values()

dict_values([['Beed', 'Pune', 'Mumbai'], [1000000, 5000000, 7000000], [10, 2, 1]])

In [94]:
Information.get("Name")

['Beed', 'Pune', 'Mumbai']

In [95]:
len(Information)

3

###### Sets

Sets are the collections of non repetative data values.
Also sets are unordered,
sets are immutable,
sets does not contains duplicate values.

In [96]:
A=[1,3,4,9,"Amitabh Bachhan"]

In [97]:
type(A)

list

In [98]:
B=(1,4,5,"Shahrakh Khan")

In [99]:
type(B)

tuple

In [100]:
C={"Actor":"Salman Khan",
  "Number_of_Movies":50}

In [101]:
C

{'Actor': 'Salman Khan', 'Number_of_Movies': 50}

In [102]:
type(C)

dict

In [103]:
D={1,2,8,2222,"Himalaya"}

In [104]:
D

{1, 2, 2222, 8, 'Himalaya'}

In [105]:
type(D)

set

###### If we write empty "{}" then type of variable will be show as dictionary

In [106]:
X={}

In [107]:
type(X)

dict

For empty set ,

M=set()

In [108]:
M=set()

In [109]:
M

set()

In [110]:
type(M)

set

In [111]:
M.add(1)

In [112]:
M

{1}

In [113]:
M.add(23)

In [114]:
M

{1, 23}

In [115]:
M.add("Onkar")

In [116]:
M

{1, 23, 'Onkar'}

###### 1.In Set we can not add List

In [117]:
M.add([11,90])

TypeError: unhashable type: 'list'

###### 2.In set we can add tuple

In [118]:
M.add(("Shinde",999,"Majalgaon"))

In [119]:
M

{('Shinde', 999, 'Majalgaon'), 1, 23, 'Onkar'}

In [120]:
M.add(1000)

In [121]:
M

{('Shinde', 999, 'Majalgaon'), 1, 1000, 23, 'Onkar'}

In [122]:
type(M)

set

###### 3.In set we can not add dictionary

In [123]:
M.add{"Movie":"Sholay",
     "year":1973}

SyntaxError: invalid syntax (<ipython-input-123-8ffc270510b5>, line 1)

###### How to get index wise values from set ?

In set we need convert it into list firstly.

In [124]:
Set={1,2.3,44,"India"}

In [125]:
Set

{1, 2.3, 44, 'India'}

In [126]:
type(Set)

set

In [127]:
Set[2]

TypeError: 'set' object is not subscriptable

In [128]:
Converted_Set_into_List=list(Set)

In [129]:
Converted_Set_into_List

[1, 2.3, 'India', 44]

In [130]:
type(Converted_Set_into_List)

list

In [131]:
Converted_Set_into_List[2]

'India'

###### Union & Intersection

In [132]:
Set1={1,2,3,4,55,4,5}

In [133]:
Set1

{1, 2, 3, 4, 5, 55}

In [134]:
Set2={1,2,333,4444,555}

In [135]:
Set2

{1, 2, 333, 555, 4444}

In [136]:
Set1.union(Set2)

{1, 2, 3, 4, 5, 55, 333, 555, 4444}

In [137]:
Set1.intersection(Set2)

{1, 2}

###### Trying on List datatype

In [138]:
List1=[11,12,13,14]

In [139]:
List2=[21,22,23,24]

In [140]:
List1.union(List2)

AttributeError: 'list' object has no attribute 'union'