In [19]:
a="Onkar Shinde"

In [20]:
print(a)

Onkar Shinde

In [21]:
b='Sinhgad Collage'

In [22]:
print(b)

Sinhgad Collage

### How to write strings in another row?

In [24]:
c="I am Onkar Shinde,
I am from Majalgaon,
but currently living in Pune."

SyntaxError: EOL while scanning string literal (<ipython-input-24-830c3efff141>, line 1)

In [26]:
c='''I am Onkar Shinde,
i am from Majalgaon ,
but currently in living in Pune.'''

In [27]:
print(c)

I am Onkar Shinde,
i am from Majalgaon ,
but currently in living in Pune.