###### List

List is the collection of items uses to store data.
List are the mutuable,means it can be change after creation.
It enclosed with square bracket and elements seperated by coma

In [4]:
A=[12,'Shankar',"Mumbai",123,9999,34,'''Cricket''']

In [5]:
A

[12, 'Shankar', 'Mumbai', 123, 9999, 34, 'Cricket']

In [6]:
print(A[4])

9999

In [7]:
print(A[6])

Cricket

In [8]:
B=[111,78,45,23,44,98,555]

In [9]:
print(B)

[111, 78, 45, 23, 44, 98, 555]

In [11]:
B.index(555)

6

In [12]:
B.index(98)

5

In [13]:
B.index(111)

0

In [14]:
B.count(44)

1

In [15]:
B.reverse()

In [16]:
B

[555, 98, 44, 23, 45, 78, 111]

In [17]:
A.extend(B)

In [18]:
A

[12,
 'Shankar',
 'Mumbai',
 123,
 9999,
 34,
 'Cricket',
 555,
 98,
 44,
 23,
 45,
 78,
 111]

In [19]:
A.index(111)

13

In [20]:
A[12]

78

In [43]:
A.extend(B)

In [44]:
A

[12,
 'Shankar',
 'Mumbai',
 123,
 9999,
 34,
 'Cricket',
 555,
 98,
 44,
 23,
 45,
 78,
 111,
 555,
 98,
 44,
 23,
 45,
 78,
 111,
 555,
 98,
 44,
 23,
 45,
 78,
 111,
 555,
 98,
 44,
 23,
 45,
 78,
 111]

In [46]:
A[1:5]

['Shankar', 'Mumbai', 123, 9999]

In [47]:
A[0:]

[12,
 'Shankar',
 'Mumbai',
 123,
 9999,
 34,
 'Cricket',
 555,
 98,
 44,
 23,
 45,
 78,
 111,
 555,
 98,
 44,
 23,
 45,
 78,
 111,
 555,
 98,
 44,
 23,
 45,
 78,
 111,
 555,
 98,
 44,
 23,
 45,
 78,
 111]

In [48]:
A[0:15:2]

[12, 'Mumbai', 9999, 'Cricket', 98, 23, 78, 555]

In [49]:
A[15]

98

###### Tuple

Tuple is the collection of items,uses to store the data.
Tuples are immutable ,means it can not be changed after creation,
Tuples are enclosed with normal paranthesis and seperated by comma.

In [25]:
Z=("Maharashtra","Gujarat","Bihar","UP","Kerala",1,3,4,5)

In [26]:
print(Z)

('Maharashtra', 'Gujarat', 'Bihar', 'UP', 'Kerala', 1, 3, 4, 5)

In [27]:
Z

('Maharashtra', 'Gujarat', 'Bihar', 'UP', 'Kerala', 1, 3, 4, 5)

In [28]:
Z[3]

'UP'

In [29]:
Z[7]

4

In [30]:
Z.index(5)

8

In [32]:
Z[-6]

'UP'

In [33]:
Y=(23,44,123,423,78)

In [34]:
Y

(23, 44, 123, 423, 78)

In [35]:
Z.extend(Y)

AttributeError: 'tuple' object has no attribute 'extend'

In [37]:
Z.extend(Y)

AttributeError: 'tuple' object has no attribute 'extend'

In [39]:
Z.append(Y)

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
Z.reverse

AttributeError: 'tuple' object has no attribute 'reverse'

### Means Tuples are immutable