In [1]:
for i in ['Red','Blue']:
    for j in ['Apple','Banana']:
        print(i,'->',j)

Red -> Apple
Red -> Banana
Blue -> Apple
Blue -> Banana

### Pattern problems

In [2]:
for a in range (1,6):
    print('*')

*
*
*
*
*

In [3]:
for a in range (1,6):
    print('*',end=' ')

* * * * *

In [4]:
for a in range (1,6):
    for k in range (1,a+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
for H in range (1,6):
    for M in range (1,6-H+1):
        print("*",end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [8]:
Q=1

for Z in range (1,6):
    for W in range (1,Z+1):
        print(Q,' ',end=' ')
        Q=Q+1
    print()

1
2   3
4   5   6
7   8   9   10
11   12   13   14   15